

body {
 background: #750101;
 color: rgb(255, 255, 255);
}
.con {
 color: #05db29;
}
.btn-danger {
 background: #000000;
}
.badg {
 border: 2px solid #000000;
}
.up h1{
 color: black;
}
.pad15{
 border: 2px solid black;
}
.cont li a{
 color: rgb(2, 7, 255);
}